.editor-display-component
  .markdown-component
    h1
      font-size: 50px
      font-family: Eczar
      font-weight: 700
      line-height: 54px
      color: #fff
      margin: 20px 0

    h2
      font-size: 40px
      font-family: Roboto
      font-weight: 700
      line-height: 50px
      color: #fff
      margin: 20px 0

    h3
      font-size: 30px
      font-family: Roboto
      font-weight: 700
      line-height: 40px
      color: #fff
      margin: 20px 0

    h4
      font-size: 20px
      font-family: Roboto
      font-weight: 700
      line-height: 24px
      color: #fff
      margin: 20px 0 10px

    p
      font-size: 20px
      font-family: Roboto
      font-weight: 100
      line-height: 27px
      color: #fff
      margin: 20px 0
