
.icon-picture:before { content: '\e800'; } /* '' */
.icon-minus:before { content: '\e801'; } /* '' */
.icon-plus-circled:before { content: '\e802'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */

.fa-picture:before { content: '\e800'; } /* '' */
.fa-minus:before { content: '\e801'; } /* '' */
.fa-plus-circled:before { content: '\e802'; } /* '' */
.fa-code:before { content: '\f121'; } /* '' */
.fa-youtube:before { content: '\f167'; } /* '' */