@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?75233960');
  src: url('../font/fontello.eot?75233960#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?75233960') format('woff2'),
       url('../font/fontello.woff?75233960') format('woff'),
       url('../font/fontello.ttf?75233960') format('truetype'),
       url('../font/fontello.svg?75233960#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?75233960#fontello') format('svg');
  }
}
*/

 [class^="fa-"]:before, [class*=" fa-"]:before,
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fa-image:before { content: '\e800'; } /* '' */
.fa-minus:before { content: '\e801'; } /* '' */
.fa-plus-circle:before { content: '\e802'; } /* '' */
.fa-code:before { content: '\f121'; } /* '' */
.fa-youtube:before { content: '\f167'; } /* '' */

.icon-picture:before { content: '\e800'; } /* '' */
.icon-minus:before { content: '\e801'; } /* '' */
.icon-plus-circled:before { content: '\e802'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */